<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52201451070-eba874q9j9t6g6jt6bhih6ce80kpdeab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52201451070-eba874q9j9t6g6jt6bhih6ce80kpdeab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52201451070-50b2ngtgvu8f3qpiinrj9ssmsc7gvj90.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9QlTWelPXIehnnqEv08bFoORQVDOrzZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52201451070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zeroit.ziloo</string>
	<key>PROJECT_ID</key>
	<string>ziloo-9c2ee</string>
	<key>STORAGE_BUCKET</key>
	<string>ziloo-9c2ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52201451070:ios:96a319439ee3117c74eb6f</string>
	<key>DATABASE_URL</key>
	<string>https://ziloo-9c2ee.firebaseio.com</string>
</dict>
</plist>